@media (max-width: 768px) {

    .list-route .flex-top,
    .list-guide .flex-top {
        flex-direction: column;
        align-items: center;
    }

    .list-route .flex-top .input-group,
    .list-guide .flex-top .input-group-skill {
        width: 100%;
        margin-bottom: 10%;
        justify-content: center;
    }

}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("images/ash-of-burned-wooden-barks-picjumbo-com.jpg");
    background-position: center center;
    background-attachment: fixed;

}

main {
    height: 100%;
}

h2 {
    flex-direction: column;
    text-align: center;
}

.draw {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.img {
    max-width: 50%;
    height: auto;
}

.text {
    color: rgb(238, 140, 27);
}

.navbar {
    width: 100%;
}

.navbar a,
h2 {
    color: rgba(252, 150, 33, 0.918);
}

.nav-link {
    color: #f19226;
    background-color: #808000;
}

.nav-link:hover {
    color: #f19226;
}

.nav-link:focus {
    background-color: #808000
}

.hero {
    background-color: #808000;
    max-width: 90%;
    margin: auto;
    box-shadow: 0 0 16px rgb(245, 164, 42);
    display: block;
}

.info {
    font-size: 30px;
    color: #ff8731;
    text-align: center;
    margin: 0 5rem 0 0;
}

.text-muted {
    text-align: center;
    color: #f19226 !important;
}

.list-route {
    margin-top: 8rem;
    margin-bottom: 4rem;
    max-width: 85%;
    border: 2px solid rgb(247, 155, 51);
    box-shadow: 0 0 16px rgb(245, 164, 42);
    background-color: #808000;
}

.list-guide {
    display: none;

    margin-bottom: 4rem;
    max-width: 85%;
    border: 2px solid #f38e1b;
    box-shadow: 0 0 16px rgb(245, 164, 42);
    background-color: #808000;
}

.list-route-h2,
.list-guide-h2 {
    text-align: left;
    color: rgb(238, 140, 27) !important;
}

.searchForm input {
    width: 35%;
}

.flex-top {
    justify-content: space-between;
}

.hero .row {
    --bs-gutter-x: 0;
}

.list-route .btn-secondary,
.list-guide .btn-secondary {
    background-color: #808000;
    color: #eca11f;
}

.input-group,
.input-group-skill {
    width: 30%;
}

.input-group-skill {
    width: 100%;
    height: 20%;
}

.from,
.to {
    height: 40px;
    width: 60px;
}



table {
    width: 100%;
    height: 100%;
}

.routes-table td {
    width: 25%;
    padding: 10px;
}

.guides-table td {
    width: 25%;
}

.guides-table .item-col-icon {
    width: 25%;
}

.item-col-change {
    text-align: center;
}


.pagination {
    cursor: pointer;
    --bs-pagination-color: #808000;
    --bs-pagination-hover-color: rgb(238, 140, 27);
    --bs-pagination-hover-bg: #808000;
    --bs-pagination-hover-border-color: rgb(238, 140, 27);
    --bs-pagination-focus-color: rgb(238, 140, 27);
    --bs-pagination-focus-bg: #808000;
}

.pagination li.active {
    background-color: rgb(238, 140, 27);
    border-color: #808000;
    cursor: default;
}

.pagination-routes {
    justify-content: center;
    color: gray;
}

.btn-group-guide #lang {
    width: 8rem;
}

.form-select {
    width: 14rem;
}

#object-select {
    overflow: hidden;
}

#language-select {
    width: auto;
}

.guide-elements .card .btn-primary {
    --bs-btn-bg: #808000;
    --bs-btn-border-color: rgb(238, 140, 27);
    --bs-btn-hover-color: rgb(238, 140, 27);
    --bs-btn-hover-bg: #808000;
    --bs-btn-hover-border-color: rgb(238, 140, 27);
    --bs-btn-active-color: rgb(238, 140, 27);
    --bs-btn-active-bg: #808000;
    --bs-btn-active-border-color: rgb(238, 140, 27);
    --bs-btn-disabled-color: rgb(238, 140, 27);
    --bs-btn-disabled-bg: #808000;
    --bs-btn-disabled-border-color: rgb(238, 140, 27);
}

form .row {
    align-items: center;
}


.modal .btn-primary,
.route-elements .card .btn-primary {
    --bs-btn-bg: #808000;
    --bs-btn-border-color: rgb(238, 140, 27);
    --bs-btn-hover-color: rgb(238, 140, 27);
    --bs-btn-hover-bg: #808000;
    --bs-btn-hover-border-color: rgb(238, 140, 27);
    --bs-btn-active-color: rgb(238, 140, 27);
    --bs-btn-active-bg: #808000;
    --bs-btn-active-border-color: rgb(238, 140, 27);
    --bs-btn-disabled-color: rgb(238, 140, 27);
    --bs-btn-disabled-bg: #808000;
    --bs-btn-disabled-border-color: rgb(238, 140, 27);
}

.modal .btn-secondary {
    --bs-btn-bg: #808000;
    --bs-btn-border-color: rgb(238, 140, 27);
    --bs-btn-hover-color: rgb(238, 140, 27);
    --bs-btn-hover-bg: #808000;
    --bs-btn-hover-border-color: rgb(238, 140, 27);
    --bs-btn-active-color: rgb(238, 140, 27);
    --bs-btn-active-bg: #808000;
    --bs-btn-active-border-color: rgb(238, 140, 27);
    --bs-btn-disabled-color: rgb(238, 140, 27);
    --bs-btn-disabled-bg: #808000;
    --bs-btn-disabled-border-color: rgb(238, 140, 27);
}

.options .text-option {
    justify-content: space-between;
    font-size: 15px;
    text-align: center;
}